<main class="card">
  <div class="card-content">
    <img class="user-image border" src="<%= @user.photo %>" alt="image" />
    <div class="user-data border full-width">
      <h1>
        <%= @user.name %>
      </h1>
      <p class="number-posts">Number of posts: <%= @user.posts_counter %>
      </p>
    </div>
  </div>


  <div class="bio border">

    <h5>Bio:</h5>
    <p>
      <%= @user.bio %>
    </p>

  </div>

  <div>
    <ul>

      <% @user.recent_posts.each do |post| %>
        <%= link_to controller: 'posts' , action: 'show' , user_id: @user.id, id: post.id do %>
          <li class="border comment post">
            <h5>
              <%= post.title%>
            </h5>
            <h6>
              <%= post.text%>
            </h6>
            <div class="right">
              <span>Comments: <%= post.comments_counter %></span>
              <span class="left">Likes: <%= post.likes_counter %> </span>
            </div>
          </li>
          <% end %>
       <% end %>
    </ul>
    <div class="full-width d-flex justify-content-center">
    
      <div class="btn">
      <a href="<%= user_posts_path(@user) %>" class="border p-1" id="all-posts-btn">See all posts</a>
  
      </div>
      
    </div>

  </div>
</main>